/** variables, settings and functions*/
@font-face {
    font-family: 'SFUIDisplay';
    src: url("../fonts/SF-UI-Display-Regular.otf") format('opentype');
}

$backgroundColor: #ffffff;
$backgroundColor2: #eaf6fa;
$primaryColor: #3e3d3f;
$titleColor: #006ea0;
$buttonColor: #0077c0;
$errorColor: #da3535;
$media767:"(min-width: 767px)";
$calculatorBoxWidthDesktopProportion:470;
$resultsBoxWidthDesktopProportion:298-(40-14);

$mobileFontSize:12px;
$desktopFontSize:14px;


@mixin media($queryString){
  @media #{$queryString} {
    @content;
  }
}

// Function for getting column width in percentage
@function getColumnWidth($width, $totalWidth){
  @return 100*($width / $totalWidth) * 1%;
}

// Function for converting a px based font-size to rem.
@function calculateRem($size,$base) {
  $remSize: $size / $base;
  @return #{$remSize}rem;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color:$primaryColor;
  line-height: 1.67;
  letter-spacing: 0.2px;
  text-align: left;
  @include media($media767){
    line-height: 1.21;
    font-size: 14px;
  }
}

body {
    background: $backgroundColor;
    padding:0;
    margin: 0;
}


/** globals **/
.main-container {
  padding:13px 0 0 0px;
  min-height: 1000px;
  @include media($media767){
    padding:0px 50px 20px 30px;
  }
}

.mb5 {
  margin-bottom:5px!important;
}

.mb8 {
  margin-bottom:8px!important;
}

.mb17 {
  margin-bottom:17px!important;
}

.mb15 {
  margin-bottom:15px!important;
}

.pr10 {
  padding-right: 10px!important;
}

.pl10 {
  padding-left: 10px!important;
}

@include media($media767){
  .mb5-md {
    margin-bottom:5px!important;
  }
  .mb8-md {
    margin-bottom:8px!important;
  }

  .mb17-md {
    margin-bottom:17px!important;
  }

  .mb15-md {
    margin-bottom:15px!important;
  }

  .pr10-md {
    padding-right: 10px!important;
  }

  .pl10-md {
    padding-left: 10px!important;
  }
}

input[type="text"] {
  width:100%;
  height: 40px;
  line-height:40px;
  border-radius: 4px;
  border: solid 1px #a6a6a6;
  background-color: #ffffff;
  padding: 0 15px;
  margin:0;
  color:$primaryColor;
  font-size: calculateRem(14px,$mobileFontSize);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  @include media($media767){
    height: 45px;
    font-size: calculateRem(16px,$desktopFontSize);
    line-height:45px;
    letter-spacing:0.32px;
    padding: 0 25px;
  }

  &:focus{
    box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
    border: solid 1px #3e3d3f;
    outline:none;
  }
}

.columns {
  display:flex;
  .col {
    flex:1
  }
}

.btn-blue {
  background:$buttonColor;
  border-radius:4px;
  width:100%;
  height:40px;
  color:#ffffff;
  font-size:14px;
  font-weight:bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  border: none;
  outline:none;
  cursor:pointer;
}

.content-wrapper {
  margin: 0;
  padding:20px 0 0 0;
  @include media($media767){
    padding:25px 38px 77px 40px;
    display:flex;
    align-items:center;
  }
}

.add-price-symbol {
  position:relative;
  input[type="text"] {
    padding: 0 15px 0 28px;
    @include media($media767){
      padding: 0 25px 0 38px;
    }
  }

  &::after {
    content:"$";
    font-size: calculateRem(14px,$mobileFontSize);
    line-height:40px;
    position:absolute;
    left:15px;
    top:0;
    color: $primaryColor;
    z-index: 100;

    @include media($media767){
      height: 45px;
      left: 25px;
      font-size: calculateRem(16px,$desktopFontSize);
      line-height:45px;
      letter-spacing:0.32px;
    }
  }
}

.range-selector{
  display: flex;
  align-items: center;

  .min-val{
    font-size: calculateRem(14px,$mobileFontSize);
    line-height: normal;
    letter-spacing: 0.3px;
    min-width: 25px;
    margin:0;
    height:16px;
    @include media($media767){
      font-size: calculateRem(16px,$desktopFontSize);
      min-width: 30px;
    }
  }
  .max-val{
    @extend .min-val;
  }
  .view-value{
    font-size: calculateRem(14px,$mobileFontSize);
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    width: 50px;
    min-width: 50px;
    height: 40px;
    vertical-align: middle;
    border: solid 1px #a6a6a6;
    color: #0d0d0d;
    @include media($media767){
      width: 60px;
      min-width: 60px;
      height: 45px;
      font-size: calculateRem(16px,$desktopFontSize);
      line-height: 45px;
    }
  } 
}

.slider{
  width:100%;
  padding: 0 10px 0 0;
  input {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    margin:0;
    border:none;
    border-radius: 100px;
    background: #cacaca;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

     /* Chrome 29+ */
    @include media("screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm)"){
      background: linear-gradient(to right, #1091cc 0%, #1091cc 76%, #cacaca 76%, #cacaca 100%);
    } 
    
    
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.27);
      background-color: #ffffff;
    }
    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      color: #1091cc;
    }
    &::-moz-range-thumb {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #ffffff;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.27);
      background-color: #ffffff;
      cursor: pointer;
    }
    &::-moz-range-progress {
      background-color: #1091cc;
      border:none;
      outline:none;
    }
    &::-moz-range-track {  
      background-color: #cacaca;
    }
    /* IE*/
    &::-ms-fill-lower {
      background-color: #1091cc;
    }
    &::-ms-fill-upper {  
      background-color: #cacaca;
    }
  }
}


/** section title **/
.screen-title-wrapper {
  padding: 0 0 0 20px;
  @include media($media767){
    padding:0;
  }
  h1 {
    padding: 10px 0;
    margin:0;
    height: 24px;
    border-bottom: solid 2px #cacaca;
    width:100%;
    font-size: calculateRem(20px,$mobileFontSize);
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: left;
    color:$titleColor;
    @include media($media767){
      padding:10px 0px 15px 0px;
      font-size:22px;
      line-height: 1.36;
    }
  }
}


/** section calculator inputs */
.calculator-box {
  margin: 0px 10px;
  padding: 10px 20px 20px 20px;
  border-radius: 4px;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  background:$backgroundColor;
  @include media($media767){
    margin: 0;
    width:getColumnWidth($calculatorBoxWidthDesktopProportion,($calculatorBoxWidthDesktopProportion+$resultsBoxWidthDesktopProportion));
    padding: 29px 40px 40px 40px;
  }
  h5 {
    font-size: 1rem;
    height: 20px;
    padding: 5px 0;
    margin:0 0 10px 0;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    width:100%;
    text-align:left;
    border-bottom: solid 2px #cacaca;
    @include media($media767){
      padding: 5px 0 10.5px 0;
      margin:0 0 30.5px 0;
      font-size: calculateRem(16px,$desktopFontSize);
      height: 24px;
      line-height: 1.5;
    }
  }
}

.input-wrapper {
  position:relative;
  width:100%;
  margin: 0;
  padding: 5px 0 0 0;
  line-height:normal;
  label {
    font-weight: bold;
    display:inline-block;
  }

  &.val-error {
    input[type="text"]{
      border: solid 1px $errorColor;
    }
  }

  .error-msg {
    display:none;
    font-size: calculateRem(10px,$mobileFontSize);
    line-height:12px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: left;
    color: $errorColor;
    margin-top: 1px;
  }

  .error-msg-mob {
    display:none;
    font-size: calculateRem(10px,$mobileFontSize);
    line-height:12px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: left;
    color: $errorColor;
    margin-top: 1px;
  }

  &.val-error {
    .error-msg {
      display:none;
      @include media($media767){
        display:block;
      }
    }
    .error-msg-mob {
      display:block;
      @include media($media767){
        display:none;
      }
    }
  }
}


/** section results **/
.result-box {
  margin: -20px 10px 10px 10px;
  background:$backgroundColor2;
  padding:40px 20px 20px 20px;
  z-index:-1;
  position: relative;
  transform: scale3d(1,0,1) translateY(-50%);
  transition: transform linear 0.3s;
  -webkit-transition: transform linear 0.3s; /* Safari */

  @include media($media767){
    margin: 0;
    width:getColumnWidth($resultsBoxWidthDesktopProportion,($calculatorBoxWidthDesktopProportion+$resultsBoxWidthDesktopProportion));
    padding:36px 40px 30px 40px;
    transform:none;
  }

  &.visible {
    transform: scale3d(1,1,1) translateY(0%);
  }
  h5 {
    margin:0 0 12px 0;
    height: 30px;
    font-size: calculateRem(20px,$mobileFontSize); 
    letter-spacing: normal;
    font-weight:normal;
    @include media($media767){
      font-size: calculateRem(22px,$desktopFontSize);
      line-height: 30px; 
      margin-bottom:19px;
    }
  }
  .result-item {
    margin:0;
    padding:10px 0;
    font-family: SFUIDisplay;
    line-height: normal;
    letter-spacing:normal;
    border-bottom: solid 2px #b2b2b2;
    display:flex;
    align-items: center;


    @include media($media767){
      font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
      border-bottom: none;
      display: inline-block;
      width: 100%;
    }

    &.last {
      border-bottom: none;
      padding-bottom: 6px;
    }
    
    label {
      line-height: 14px;
      flex:1;
      @include media($media767){
        font-size: 1rem;
        line-height: 30px; 
        display: inline-block;
      }
    }

    label.total {
      @include media($media767){
        font-size: calculateRem(18px,$desktopFontSize);
        line-height: 30px;
      }
    }

    span {
      text-align:right;
      font-size:14px;
      line-height: 16px;
      font-weight:bold;
      float:right;
      max-width: 60%;
      white-space: nowrap;
      @include media($media767){
        text-align:left;
        width:100%;
        max-width: 100%;
        font-size:18px;
        line-height: 30px;
        color:$primaryColor;
        display: inline-block;
        opacity:0.2;
      }
      &.total{
        line-height: 21px;
        font-size: calculateRem(18px,$mobileFontSize);
        @include media($media767){
          line-height: 30px;
          font-size: calculateRem(22px,$desktopFontSize);
        }
      }
      &.non-empty-value,.total.non-empty-value{
        @include media($media767){
          opacity:1;
        }
      }
    }

  }
  .result-line {
    display:none;
    width:100%;
    height:2px;
    background: #cbcbcb;
    border:none;
    border-collapse: collapse;
    margin:10px 0;
    @include media($media767){
      display:block;
    }
  }
}